@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Arial" 、 "Hiragino Sans" 、 "Hiragino Kaku Gothic ProN" 、
    "Meiryo" 、 "sans-serif";
  background-color: #fff;
  width: 100%;
  color: #24292e;
}

.mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainvisual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
  background-repeat: no-repeat;
}

.logo-container {
  position: absolute;
  top: 30px;
  right: 30px;
}

.logo-container img {
  max-width: 100%;
  height: 40px;
}

.wrapper {
  padding: 0 5%;
}

.section-title h1 {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.section-title p {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.images-list {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.image-box {
  position: relative;
  width: 100%;
  max-width: 510px;
  margin-bottom: 80px;
}

.image-box img {
  width: 100%;
  display: block;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒背景 */
  color: #fff;
  text-align: center;
  padding: 0 5%;
  width: 290px;
}

.image-overlay h2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 15px;
}

.image-overlay p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 15px;
}

.image-box :hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.fashion img {
  height: 520px;
  width: 100%;
  object-fit: cover;
}
.fashion {
  position: relative;
  margin-bottom: 80px;
}

.fashion-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fashion-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.fashion-text p {
  font-size: 14px;
}

.button {
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  border: solid 1px;
  padding: 14px 36px;
  margin-top: 30px;
}

.wrapper2 {
  padding: 0 5%;
  background-color: #f5f5f5;
}

.catalog-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 60px 0 60px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* 小さい画面で縦並び */
}

.catalog-wrapper img {
  max-width: 500px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.catalog-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.catalog-text p {
  margin-bottom: 30px;
  font-size: 14px;
}

.antique-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 60px 0 60px;
  width: 100%;
  flex-wrap: wrap; /* 小さい画面で縦並び */
}

.antique-image img {
  max-width: 500px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.antique-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.antique-text p {
  font-size: 14px;
  margin-bottom: 30px;
}

.button-wrapper {
  margin-top: 60px;
  text-align: center;
}
.antique-button {
  font-size: 12px;
  text-decoration: none;
  border: solid 1px;
  padding: 14px 36px;
  text-align: center;
  justify-content: center;
}

.footer-top {
  background-color: #333333;
  padding: 0 5%;
}

.wrapper3 {
  padding: 0 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.title1 {
  color: #fff;
  margin: 100px 0;
}

.title1 h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title1 p {
  font-size: 12px;
  line-height: 2;
}

.title2 {
  color: #fff;
  max-width: 310px;
}

.title2 h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title2 p {
  font-size: 12px;
  line-height: 2;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .image-box {
    margin-bottom: 30px;
  }

  .fashion {
    margin-top: 80px;
    position: relative;
  }

  .fashion-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    padding: 0 5%;
  }

  .logo-wrapper {
    display: block;
  }

  .catalog-wrapper {
    padding-top: 30px;
  }

  .catalog-image img {
    margin-bottom: 60px;
  }

  .antique-wrapper {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .logo-wrapper {
    display: block;
    text-align: center;
  }

  .logo-image img {
    margin: 30px;
  }

  .title1 {
    text-align: left;
    margin: 0;
    padding: 30px 0 30px 0;
  }

  .title2 {
    text-align: left;
    padding-bottom: 60px;
    max-width: 310px;
  }

  footer {
    margin: 30px 0;
  }
}
